@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    font-family: 'DM Serif Display', serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: white;
}

img {
    display: block;
}

body {
    background-color: rgb(17 24 39);
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative; 
 }
 
 .hamburger-top,
 .hamburger-middle,
 .hamburger-bottom {
     position: absolute;
     top:0;
     left:0;
     width: 24px;
     height: 2px;
     background-color: white;
     transform: rotate(0);
     transition: all 0.5s;
 }

 .hamburger-middle {
    transform: translateY(7px);
 }

 .hamburger-bottom {
    transform: translateY(14px);
 }

 .open {
    transform: rotate(90deg);
    transform: translateY(0px);
 }

 .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
 }

.open .hamburger-middle {
    display: none;
}

 .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
 }

 .movie-details-background::before,
 .movie-details-content::before,
 .background-dark::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
}

.movie-details-img,
.movie-details-info {
    filter: brightness(100%);
    z-index: 2;
}

.background-img-shadow {
    box-shadow: rgba(218, 218, 218, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}



.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

.no-scrollbar {
-ms-overflow-style: none;
scrollbar-width: none;
}

.homepage {
background-image: url('https://img.freepik.com/free-photo/rows-red-seats-theater_53876-64710.jpg?w=1060&t=st=1673539676~exp=1673540276~hmac=30e8bf71ee92bed82d3617db3a19c30057800a42438d9d085f51506cb34fb2af');
z-index: 20;
}

.movies-container::-webkit-scrollbar {
   background-color: rgb(17 24 39);
   height: 8px;
}

.movies-container::-webkit-scrollbar-thumb {
    background-color: #202021;
    height: 8px;
  }
